.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.header {
  font-size: 21px;
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer > button {
  flex: 1;
}
